<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research Work</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css"> <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="profile-nav col-md-3">
                <div class="panel">
                    <div class="user-heading round">
                        <a href="#">
                            <img src="cashimg2.jpg" alt="Profile Picture">
                        </a>
                        <h1>Khaju Shaik</h1>
                        <p>khajushaik03@gmail.com</p>
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/"> <i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="/resume"> <i class="fa fa-file"></i> Resume </a></li>
                        <li><a href="/certificates"> <i class="fa fa-certificate"></i> Certifications</a></li>
                        <li><a href="/projects"> <i class="fa fa-laptop"></i> Projects</a></li>
                        <li class="active"><a href="#"> <i class="fa fa-book"></i> Research Work</a></li>
                    </ul>
                </div>
            </div>
            <div class="profile-info col-md-9">
                <div class="panel">
                    <div class="bio-graph-heading">
                        Research Publications and Contributions
                    </div>
                    <div class="panel-body bio-graph-info">
                        <h1>Research Work</h1>
                        <div class="row">
                            <div class="bio-row">
                                <p><span>Scopus Author Account </span>: <a href="https://www.scopus.com/authid/detail.uri?authorId=57222661822" target="_blank">Scopus Profile</a></p>
                            </div>
                        </div>

                        <h2>Publications</h2>
                        <div class="row">
                            <!-- Paper 1 -->
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <h4 class="terques">CNN Design with AlexNet Algorithm for Diagnosis of Diseases in Cassava Leaves</h4>
                                        <p><strong>Authors:</strong>Polagani Roshini; Shaik Khajavali; M L Sneha Snigdha; Badugu Deva Harsha; Bandlamudi Srilakshmi; Arepalli</p>
                                        <p><strong>Abstract:</strong> This paper presents a CNN model leveraging the AlexNet architecture to diagnose diseases in cassava leaves with improved accuracy and efficiency. The study provides insights into CNN design for agricultural disease detection.</p>
										<p><strong>publication link:</strong> <a href="https://ieeexplore.ieee.org/document/10612469" target="_blank">IEEE</a></p>
										<p><strong>Scopus Index:</strong> <a href="https://www.scopus.com/authid/detail.uri?authorId=57222661822" target="_blank">Scopus</a></p>
                                        <p><strong>PDF:</strong> <a href="research.pdf" target="_blank">Download</a></p>
                                    </div>
                                </div>
                            </div>
                            <!-- Paper 2 -->
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <h4 class="green">Developing of CNN Model for Disease Detection on Cassava leaves using VGG-16 Algorithm</h4>
                                        <p><strong>Authors:</strong> Polagani Roshini; Shaik Khajavali; M L Sneha Snigdha; Badugu Deva Harsha; Bandlamudi Srilakshmi; Arepalli</p>
                                        <p><strong>Abstract:</strong> This research explores the development of a CNN model using the VGG-16 algorithm for precise disease detection in cassava leaves, offering significant benefits for crop management and yield enhancement.</p>
										<p><strong>publication link:</strong> <a href="https://ijisae.org/index.php/IJISAE/article/view/5706" target="_blank">IJISAE</a></p>
                                        <p><strong>PDF:</strong> <a href="term.pdf" target="_blank">Download</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
