<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css"> <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="profile-nav col-md-3">
                <div class="panel">
                    <div class="user-heading round">
                        <a href="#">
                            <img src="cashimg2.jpg" alt="">
                        </a>
                        <h1>Khaju Shaik</h1>
                        <p>khajushaik03@gmail.com</p>
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/"> <i class="fa fa-user"></i> Profile</a></li>
                        <li class="active"><a href="/resume"> <i class="fa fa-file"></i> Resume</a></li>
                        <li><a href="/certificates"> <i class="fa fa-certificate"></i> Certifications</a></li>
                        <li><a href="/projects"> <i class="fa fa-laptop"></i> Projects</a></li>
						<li><a href="/research"> <i class="fas fa-pen-alt"></i> Research work </a></li>
                    </ul>
                </div>
            </div>
            <div class="profile-info col-md-9">
                <div class="panel">
                    <div class="bio-graph-heading">
                        SHAIK KHAJAVALI
                    </div>
                    <div class="panel-body bio-graph-info">
                        <h1>Resume</h1>
                        <div class="row">
                            <div class="bio-row">
                                <p><span>Contact</span>: +91 9666184055</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Email</span>: 2100030495cseh@gmail.com</p>
                            </div>
                            <div class="bio-row">
                                <p><span>LinkedIn</span>: <a href="https://www.linkedin.com/in/khaju-shaik/" target="_blank">khaju-shaik</a></p>
                            </div>
                        </div>
                        <h2>Overview</h2>
                        <p>Highly motivated and dedicated individual, always ready to embrace fresh opportunities and actively contribute to cutting-edge projects while gaining hands-on experience and professional development.</p>

                        <h2>Education</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>B.Tech in CSE</strong></p>
                                <p>K L University, Guntur, India (2021 - 2025)</p>
                                <p>Specialization: Cyber Physical Systems and IoT | CGPA: 9.17</p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Intermediate</strong></p>
                                <p>Sri Chaitanya Junior College, Vijayawada, India (2019 - 2021)</p>
                                <p>Score: 884/1000</p>
                            </div>
                        </div>

                        <h2>Skills</h2>
                        <p><strong>Technical Skills</strong>: Python, C, Java, HTML, CSS, Data Structures</p>
                        <p><strong>Frameworks</strong>: Spring Boot, Django</p>
                        <p><strong>Tools</strong>: Java Eclipse IDE, Tableau, VSCode, MySQL, MongoDB, Arduino IDE, Google Colab</p>
                        <p><strong>Soft Skills</strong>: Problem Solving, Adaptability, Communication, Teamwork, Leadership</p>

                        <h2>Projects</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Online Voting System</strong> (July 2023 - Dec 2023)</p>
                                <p>Developed a secure online voting system with Spring Boot and MySQL. Included features like user authentication, real-time vote counting, and data encryption.</p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Stock Exchange System</strong> (Jan 2023 - May 2023)</p>
                                <p>Created a dynamic website using Python, Flask, and Django. Integrated real-time stock data and portfolio management functionalities.</p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Basic IoT Projects</strong> (Aug 2023 - Dec 2023)</p>
                                <p>Built IoT projects for environmental monitoring and home automation with ESP2 and Arduino. Managed real-time data processing and sensor integration.</p>
                            </div>
                        </div>

                        <h2>Certifications</h2>
                        <ul>
                            <li>AWS Certified Cloud Practitioner (CF-02)</li>
                            <li>Red Hat Certified Enterprise Application Developer (EX-183)</li>
                            <li>Automation Anywhere Certified Essentials RPA Professional (Automation 360)</li>
                            <li>Google Cloud Certified Associate Cloud Engineer</li>
                        </ul>

                        <h2>Coursework</h2>
                        <p>Object Oriented Programming, Database Management System, Java Full Stack Development, Operating Systems, Machine Learning</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
